<!DOCTYPE html>
<html>

	<head>
		<title>Landing Page — Practice</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link href="static/normalize.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton|Open+Sans&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/349f2c1dfe.js" crossorigin="anonymous"></script>
		<link href="static/style.css" rel="stylesheet">
	</head>

    <body>

        <header>
            <div class="container">
                <div class="brand">Visual Statistics</div>
                <nav>
                    <ul class="menu">
                        <li><a href="http://127.0.0.1:8080/register">регистрация</a></li>
                        <li><a href="http://127.0.0.1:8080/login">войти</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="jumbotron">
            <div class="container">
                <h1>Наглядная статистика</h1>
                <a href="http://127.0.0.1:8080/login" class="button">Войти</a>
            </div>
        </div>

        <div class="services">
            <div class="container">
                <h2>Официальная статистика</h2>
                <div class="service">
                    <i class="fas fa-male fa-3x" aria-hidden="true"></i>
                    <p>население</p>
                </div>
                <div class="service">
                    <i class="fas fa-tree fa-3x" aria-hidden="true"></i>
                    <p>окружающая среда</p>
                </div>
                <div class="service">
                    <i class="fas fa-briefcase fa-3x" aria-hidden="true"></i>
                    <p>рынок труда</p>
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="brand">Visual statistics</div>
                <nav>
                    <ul class="menu">
                        <li><a href="http://127.0.0.1:8080/register">регистрация</a></li>
                        <li><a href="http://127.0.0.1:8080/login">войти</a></li>
                    </ul>
                </nav>
            </div>
        </footer>

    </body>
</html>
