{% extends "base.html" %}


{% block services %}
<div class="services">
            <div class="container">
                <h2>Динамика инвестиций в основной капитал за 2000-2019 год:</h2>
                <div class="service">
                    <p><a href="https://visual-statistics.herokuapp.com/invtula">Тульская область</a></p>
                </div>
                <div class="service">
                    <p><a href="https://visual-statistics.herokuapp.com/invmoscow">Москва</a></p>
                </div>
                <div class="service">
                    <p><a href="https://visual-statistics.herokuapp.com/invrussia">Российская Федерация</a></p>
                </div>
            </div>
        </div>

{% endblock %}
