{% extends "base.html" %}


{% block services %}
<div class="services">
            <div class="container">
                <h2>Население за 2014-2019 год</h2>
                <div class="service">
                    <p><a href="http://127.0.0.1:8080/peopletula">Население тульской области</a></p>
                </div>
                <div class="service">
                    <p><a href="http://127.0.0.1:8080/peoplemoscow">Население Москвы</a></p>
                </div>
                <div class="service">
                    <p><a href="http://127.0.0.1:8080/peoplerussia">Население России</a></p>
                </div>
            </div>
        </div>
{% endblock %}
