{% extends "base.html" %}


{% block services %}
<div class="services">
            <div class="container">
                <h2>Среднемесячная номинальная начисленная заработная плата работников по субъектам Российской Федерации в 2019 гг:</h2>
                <div class="service">
                    <p><a href="https://visual-statistics.herokuapp.com/workrussia">Российская Федерация</a></p>
                </div>
                <div class="service">
                    <p><a href="https://visual-statistics.herokuapp.com/workmoscow">Москва</a></p>
                </div>
                <div class="service">
                    <p><a href="https://visual-statistics.herokuapp.com/worktula">Тульская область</a></p>
                </div>
            </div>
        </div>
{% endblock %}
