{% extends "base.html" %}


{% block services %}
<div class="services">
            <div class="container">
                <h2>Среднемесячная номинальная начисленная заработная плата работников по субъектам Российской Федерации в 2019 гг:</h2>
                <div class="service">
                    <p><a href="http://127.0.0.1:8080/workrussia">Российская Федерация</a></p>
                </div>
                <div class="service">
                    <p><a href="http://127.0.0.1:8080/workmoscow">Москва</a></p>
                </div>
                <div class="service">
                    <p><a href="http://127.0.0.1:8080/worktula">Тульская область</a></p>
                </div>
            </div>
        </div>
{% endblock %}
